<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  <div class="card-container">
  <section class="card">
    <img src="assets/img/3.svg" alt="3" class="three">
    <div class="video">
      <video id="video" autoplay loop muted>
        <source src="assets/alex.mp4" type="video/mp4">
      </video>
      <div class="color-shade"></div>
    </div>
    <div class="iframe-container">
        <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScUHBPGijfwWn7FEXBWQE9n13tVmk6rQIPMj0R5J3cLnrzLbA/viewform?embedded=true"
        width="540" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  
  </section>
  </div>

</body>
</html>
